<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://120.27.200.159:3306/north_industry</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <!-- zRqafryLPc5tVTQ3  root    umj f7h8d5hjg4n3560nuyermpl-->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <property name="hibernate.show_sql">false</property>

    <property name="hibernate.connection.autocommit">false</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.jdbc.batch_size">50</property>
    <property name="hibernate.cache.use_second_level_cache">false</property>
    <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
    <property name="c3p0.acquire_increment">1</property>
    <property name="c3p0.idle_test_period">300</property>
    <property name="c3p0.max_size">20</property>
    <property name="c3p0.max_statements">100</property>
    <property name="c3p0.min_size">5</property>
    <property name="c3p0.timeout">90</property>
    <property name="c3p0.idleConnectionTestPeriod ">18000</property>
    <property name="c3p0.maxIdleTime">25000</property>
    <property name="c3p0.testConnectionOnCheckout">true</property>
    <property name="c3p0.preferredTestQuery">SELECT 1</property>
    <mapping resource="hbm/Answer.hbm.xml"/>
    <mapping resource="hbm/BasicInfo.hbm.xml"/>
    <mapping resource="hbm/BidRecord.hbm.xml"/>
    <mapping resource="hbm/Call4Bid.hbm.xml"/>
    <mapping resource="hbm/CategoryConfArea.hbm.xml"/>
    <mapping resource="hbm/CategoryConfCompany.hbm.xml"/>
    <mapping resource="hbm/CategoryConfDepartment.hbm.xml"/>
    <mapping resource="hbm/CategoryConfEnterpriseScale.hbm.xml"/>
    <mapping resource="hbm/CategoryConfEnterpriseType.hbm.xml"/>
    <mapping resource="hbm/CategoryConfFund.hbm.xml"/>
    <mapping resource="hbm/CategoryConfMatName.hbm.xml"/>
    <mapping resource="hbm/CategoryConfPosition.hbm.xml"/>
    <mapping resource="hbm/CategoryConfProductSeries.hbm.xml"/>
    <mapping resource="hbm/CategoryConfProductType.hbm.xml"/>
    <mapping resource="hbm/CategoryConfUnit.hbm.xml"/>
    <mapping resource="hbm/CommonProblem.hbm.xml"/>
    <mapping resource="hbm/DownloadArea.hbm.xml"/>
    <mapping resource="hbm/MaterialRecord.hbm.xml"/>
    <mapping resource="hbm/Materialquotation.hbm.xml"/>
    <mapping resource="hbm/PersonalMessage.hbm.xml"/>
    <mapping resource="hbm/Policy.hbm.xml"/>
    <mapping resource="hbm/ProShowtime.hbm.xml"/>
    <mapping resource="hbm/Product.hbm.xml"/>
    <mapping resource="hbm/Provider.hbm.xml"/>
    <mapping resource="hbm/Question.hbm.xml"/>
    <mapping resource="hbm/Staff.hbm.xml"/>
    <mapping resource="hbm/StaffOperationHistory.hbm.xml"/>
    <mapping resource="hbm/SystemNotification.hbm.xml"/>
    <mapping resource="hbm/UnreadMessage.hbm.xml"/>
    <mapping resource="hbm/VerifyCode.hbm.xml"/>
    <mapping resource="hbm/Provider.hbm.xml"/>
    <mapping resource="hbm/Answer.hbm.xml"/>
    <mapping resource="hbm/BasicInfo.hbm.xml"/>
    <mapping resource="hbm/BidRecord.hbm.xml"/>
    <mapping resource="hbm/Call4Bid.hbm.xml"/>
    <mapping resource="hbm/CategoryConfArea.hbm.xml"/>
    <mapping resource="hbm/CategoryConfCompany.hbm.xml"/>
    <mapping resource="hbm/CategoryConfDepartment.hbm.xml"/>
    <mapping resource="hbm/CategoryConfEnterpriseScale.hbm.xml"/>
    <mapping resource="hbm/CategoryConfEnterpriseType.hbm.xml"/>
    <mapping resource="hbm/CategoryConfFund.hbm.xml"/>
    <mapping resource="hbm/CategoryConfMatName.hbm.xml"/>
    <mapping resource="hbm/CategoryConfPosition.hbm.xml"/>
    <mapping resource="hbm/CategoryConfProductSeries.hbm.xml"/>
    <mapping resource="hbm/CategoryConfProductType.hbm.xml"/>
    <mapping resource="hbm/CategoryConfUnit.hbm.xml"/>
    <mapping resource="hbm/CommonProblem.hbm.xml"/>
    <mapping resource="hbm/DownloadArea.hbm.xml"/>
    <mapping resource="hbm/MaterialRecord.hbm.xml"/>
    <mapping resource="hbm/Materialquotation.hbm.xml"/>
    <mapping resource="hbm/PersonalMessage.hbm.xml"/>
    <mapping resource="hbm/Policy.hbm.xml"/>
    <mapping resource="hbm/ProShowtime.hbm.xml"/>
    <mapping resource="hbm/Product.hbm.xml"/>
    <mapping resource="hbm/Provider.hbm.xml"/>
    <mapping resource="hbm/ProviderPersonalMessage.hbm.xml"/>
    <mapping resource="hbm/Question.hbm.xml"/>
    <mapping resource="hbm/Staff.hbm.xml"/>
    <mapping resource="hbm/StaffOperationHistory.hbm.xml"/>
    <mapping resource="hbm/StaffPersonalMessage.hbm.xml"/>
    <mapping resource="hbm/SystemNotification.hbm.xml"/>
    <mapping resource="hbm/ProviderUnreadMsgList.hbm.xml"/>
    <mapping resource="hbm/StaffUnreadMsgList.hbm.xml"/>
    <mapping resource="hbm/Answer.hbm.xml"/>
    <mapping resource="hbm/BasicInfo.hbm.xml"/>
    <mapping resource="hbm/BidRecord.hbm.xml"/>
    <mapping resource="hbm/Call4Bid.hbm.xml"/>
    <mapping resource="hbm/CategoryConfArea.hbm.xml"/>
    <mapping resource="hbm/CategoryConfCompany.hbm.xml"/>
    <mapping resource="hbm/CategoryConfDepartment.hbm.xml"/>
    <mapping resource="hbm/CategoryConfEnterpriseScale.hbm.xml"/>
    <mapping resource="hbm/CategoryConfEnterpriseType.hbm.xml"/>
    <mapping resource="hbm/CategoryConfFund.hbm.xml"/>
    <mapping resource="hbm/CategoryConfMatName.hbm.xml"/>
    <mapping resource="hbm/CategoryConfPosition.hbm.xml"/>
    <mapping resource="hbm/CategoryConfProductSeries.hbm.xml"/>
    <mapping resource="hbm/CategoryConfProductType.hbm.xml"/>
    <mapping resource="hbm/CategoryConfUnit.hbm.xml"/>
    <mapping resource="hbm/CommonProblem.hbm.xml"/>
    <mapping resource="hbm/DownloadArea.hbm.xml"/>
    <mapping resource="hbm/MaterialRecord.hbm.xml"/>
    <mapping resource="hbm/Materialquotation.hbm.xml"/>
    <mapping resource="hbm/PersonalMessage.hbm.xml"/>
    <mapping resource="hbm/Policy.hbm.xml"/>
    <mapping resource="hbm/ProShowtime.hbm.xml"/>
    <mapping resource="hbm/Product.hbm.xml"/>
    <mapping resource="hbm/ProviderPersonalMessage.hbm.xml"/>
    <mapping resource="hbm/Question.hbm.xml"/>
    <mapping resource="hbm/Staff.hbm.xml"/>
    <mapping resource="hbm/StaffOperationHistory.hbm.xml"/>
    <mapping resource="hbm/StaffPersonalMessage.hbm.xml"/>
    <mapping resource="hbm/SystemNotification.hbm.xml"/>
    <mapping resource="hbm/ProviderUnreadMsgList.hbm.xml"/>
    <mapping resource="hbm/StaffUnreadMsgList.hbm.xml"/>
    <mapping resource="hbm/Answer.hbm.xml"/>
    <mapping resource="hbm/BasicInfo.hbm.xml"/>
    <mapping resource="hbm/BidRecord.hbm.xml"/>
    <mapping resource="hbm/Call4Bid.hbm.xml"/>
    <mapping resource="hbm/CategoryConfArea.hbm.xml"/>
    <mapping resource="hbm/CategoryConfCompany.hbm.xml"/>
    <mapping resource="hbm/CategoryConfDepartment.hbm.xml"/>
    <mapping resource="hbm/CategoryConfEnterpriseScale.hbm.xml"/>
    <mapping resource="hbm/CategoryConfEnterpriseType.hbm.xml"/>
    <mapping resource="hbm/CategoryConfFund.hbm.xml"/>
    <mapping resource="hbm/CategoryConfMatName.hbm.xml"/>
    <mapping resource="hbm/CategoryConfPosition.hbm.xml"/>
    <mapping resource="hbm/CategoryConfProductSeries.hbm.xml"/>
    <mapping resource="hbm/CategoryConfProductType.hbm.xml"/>
    <mapping resource="hbm/CategoryConfUnit.hbm.xml"/>
    <mapping resource="hbm/CommonProblem.hbm.xml"/>
    <mapping resource="hbm/DownloadArea.hbm.xml"/>
    <mapping resource="hbm/MaterialRecord.hbm.xml"/>
    <mapping resource="hbm/Materialquotation.hbm.xml"/>
    <mapping resource="hbm/PersonalMessage.hbm.xml"/>
    <mapping resource="hbm/Policy.hbm.xml"/>
    <mapping resource="hbm/ProShowtime.hbm.xml"/>
    <mapping resource="hbm/Product.hbm.xml"/>
    <mapping resource="hbm/Provider.hbm.xml"/>
    <mapping resource="hbm/ProviderPersonalMessage.hbm.xml"/>
    <mapping resource="hbm/Question.hbm.xml"/>
    <mapping resource="hbm/Staff.hbm.xml"/>
    <mapping resource="hbm/StaffOperationHistory.hbm.xml"/>
    <mapping resource="hbm/StaffPersonalMessage.hbm.xml"/>
    <mapping resource="hbm/SystemNotification.hbm.xml"/>
    <mapping resource="hbm/ProviderUnreadMsgList.hbm.xml"/>
    <mapping resource="hbm/StaffUnreadMsgList.hbm.xml"/>
  </session-factory>
</hibernate-configuration>